/* Grundschriftgrößen für html (wirkt auf den gesamten Text)
   – Werte kannst du beliebig anpassen */
/* .md-typeset {
  font-size: 1rem;
}

html.font-large .md-typeset {
  font-size: 1.125rem;
}

html.font-xlarge .md-typeset {
  font-size: 1.25rem;
} */
/* 
html.font-normal {
  font-size: 1rem;
} */
/* 
html.font-large {
  font-size: 125%;
}

html.font-xlarge {
  font-size: 140%;
} */
/* html.font-normal {
  font-size: 1.38em;
} */

html.font-large {
  font-size: 1.45em;
}

html.font-xlarge {
  font-size: 1.70em;
}

/* Optional: Codeblöcke leicht anpassen */
html.font-large code,
html.font-xlarge code {
  font-size: 0.95em;
}

/* Damit Änderungen sanft wirken */
html {
  transition: font-size 0.1s ease;
}
